@media screen and (min-width: 900px){

body{
    margin: {
        left: 4rem;
        right: 4rem;
    }
}

.hamburger{
    display: none;
}

.login{
    display: block;
}


.nav-links{
    display: flex;
}


header{
    max-width: 106.5rem;

        .login > a{
            color: #706c6c;
            font-size: 14px;
        }

        nav{

            .login button{
                margin: 0;
                padding: 15px 25px;
            }

            .nav-links{
                position: relative;

                .ext-menu{
                    position: absolute;
                    top: 100%;
                    left: -10%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    width: 370px;
                    border-radius: 13px;
                    padding: 0.7rem;

                    .ext-menu-item{
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;

                        padding-top: 0.7rem;
                    }
                }
            }
        }
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 106.5rem;
    margin: 0 auto;

        .hero-content{

            h1{
                font-size: 55px;
                line-height: 1.5;
            }

            .hero-desc{
                line-height: 1.9;
                max-width: 90%;
            }

            .ratings{

                span > img{
                    height: 1.5rem;
                    padding-left: 0.8rem;
                }
            }
        }


        .content-img{
            width: auto;
        }
        }

        nav{

            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 40%;

                    li{
                        font-size: 14px;
                        
                            a{
                                color: #706c6c;
                            }
                    }
            }
    }

    section{

        h2{
            text-align: center;
        }

        .social-proof{
            flex-wrap: nowrap;

            img{
            width: 25%;
        }
        }
    }
}