@media screen and (min-width: 900px){


.hamburger{
    display: none;
}

    main{
        display: flex;


       .content-img{
            width: auto;
        }
    }

    nav{

        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}