@mixin flex-box ($orientation) {
    max-width: 100%;
    display: flex;
    flex-direction: $orientation;
    align-items: center;
    justify-content: center;
}

@mixin btn_basic {
    padding: 1em;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    @include flex-box(row);
    justify-content: space-between;
}